<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Rong Yuan">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Rong's website">
    <title>Rong Yuan</title>
    <link rel="stylesheet" href="../static/style.css">
    <script defer src="../static/script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <h1 id="webname">Rong Yuan</h1>
        <nav id="myTopnav" class="topnav">
            <a href="../index.html">Home</a>
            <a href="cv.html" class="active">CV</a>
            <a href="contact.html">Contact Me</a>
            <a href="fun.html">For Fun</a>
            <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars" onclick="activeNav()"></i>
            </a>     
        </nav>
    </header>
    <div class="main"> 
        <h2>Curriculum Vitae</h2>
        <table>
            <tr><th>Experience Name</th><th>Start Time</th><th>End Time</th></tr>
            <tr><td>Teaching Assistant for 15-112</td><td>July, 2023</td><td>current</td></tr>
            <tr><td>Designer for EX-Change Exhibition and Publication</td><td>March, 2023</td><td>September, 2023</td></tr>
        </table>
        <a href="../static/resume_rongyuan.pdf" target="_blank">My resume, pdf version</a>
    </div>
    <footer> 
        <p id="copyYear">Rong Yuan &copy</p>
    </footer>
    <body onload=" addYear()"></body>
</body>
</html>